{#
    * Front page
    * @package MarionPortfolio
#}
{% extends "layout/default.twig" %}

{% block content %}

    <div class="h-56 relative w-full bg-gray-800">
        <div class="container mx-auto h-full flex flex-col justify-center">
            <h1 class="flex h-full items-end mb-8 text-gray-300 font-bold text-4xl">
                {{ title }}
            </h1>
        </div>
    </div>
    
    <section id="archive-project" class="page">
        <div class="container mx-auto text-gray-300 py-16">
            <p>Découvrez mes projets et mes contributions, réalisés dans le cadre professionnel ou dans le cadre de mes études. Retrouvez aussi quelques projets personnels.</p>
        </div>

        <div class="container mx-auto grid grid-cols-4 mt-8 mb-20">
            {% if posts %}
                {% for post in posts %}
                    <div class="relative drop-shadow-2xl mx-6 cursor-pointer transition hover:-translate-y-2">
                        <a class="absolute top-0 left-0 w-full h-full" href="{{post.link}}"></a>
                        {{ fn('wp_get_attachment_image', post.thumbnail.id, 'large') }}
                        <p class="text-gray-300 font-bold text-xl py-4 px-2">{{post.title}}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>


{% endblock %}
