{#
    * Front page
    * @package MarionPortfolio
#}
{% extends "layout/default.twig" %}

{% block content %}
    {% include 'layout/_hero.twig' %}

    <div class="presentation container">

    </div>
{% endblock %}
