{#
    * Front page
    * @package MarionPortfolio
#}
{% extends "layout/default.twig" %}

{% block content %}
	{% include 'layout/_hero.twig' %}

	<div class="container mx-auto my-24 flex items-center justify-around">
		<div class="mx-6 px-6">
			<h2 class="text-purple-700 font-extrabold text-xl mb-3">Front-end</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="mx-6 px-6">
			<h2 class="text-purple-700 font-extrabold text-xl mb-3">Back-end</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="mx-6 px-6">
			<h2 class="text-purple-700 font-extrabold text-xl mb-3">Personnalisé</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>


{% endblock %}
