<header id="header" class="fixed top-0 right-0 w-full py-2 z-40">

	<div class="navigation flex justify-between items-center container mx-auto md:flex">
		<a href="{{ site.url }}" class="text-3xl font-extrabold text-gray-900 mr-8 transition ease-in-out duration-300 hover:text-gray-700 dark:text-zinc-200">
			<img src="{{directory}}/assets/public/images/logo-marion.svg" alt="">
		</a>
		<nav class="relative flex items-center justify-between sm:h-10 lg:justify-start">
			{% for item in menus.main.items %}
				<a href="{{item.url}}" class="font-bold text-purple-700 hover:text-gray-900 mx-2 dark:text-zinc-300">{{item.title}}</a>
			{% endfor %}
		</nav>
	</div>

</header>
