<div id="hero" class="bg-gray-100 h-screen">

    <div class="hero-content container mx-auto h-full flex flex-col justify-center">
        <h1 class="flex flex-col">
            <span>Marion</span>
            <span>Développeuse web</span>
        </h1>
        <p>Front-end | Back-end</p>
    </div>
    
</div>