<div id="hero" class="h-screen relative overflow-hidden w-full bg-gray-800">

	<div class="hero-content container mx-auto h-full flex flex-col justify-center">
		<h1 class="flex flex-col text-gray-300">
			<span class="font-bold text-3xl mb-8">Marion.</span>
			<span class="font-extrabold text-6xl">Développeuse web</span>
		</h1>
		<p class="subtitle mt-10 font-extralight uppercase text-gray-300">Front-end | Back-end</p>
	</div>
	<div class="absolute top-0 right-0 overflow-hidden">
		<img src="{{directory}}/assets/public/images/logo-background-white.svg" alt="">
	</div>
	<div class="absolute bottom-0 left-0 w-full -mb-12">
		<svg viewBox="0 0 1440 213" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 80.2783L80 62.6361C160 44.6625 320 9.87494 480 27.2687C640 44.6625 800 115.894 960 120.036C1120 124.177 1280 62.8846 1360 31.6586L1440 0.763916V212.802H1360C1280 212.802 1120 212.802 960 212.802C800 212.802 640 212.802 480 212.802C320 212.802 160 212.802 80 212.802H0V80.2783Z" class="fill-gray-900"/>
		</svg>
	</div>
</div>
