<div id="hero" class="bg-gray-100 h-screen relative overflow-hidden w-full">

	<div class="hero-content container mx-auto h-full flex flex-col justify-center">
		<h1 class="flex flex-col text-purple-700">
			<span class="font-bold text-3xl mb-8">Marion.</span>
			<span class="font-extrabold text-6xl">Développeuse web</span>
		</h1>
		<p class="subtitle mt-10 font-extralight text-purple-700 uppercase">Front-end | Back-end</p>
	</div>

	<div class="absolute top-0 right-0 overflow-hidden">
		<img src="{{directory}}/assets/public/images/logo-background.svg" alt="">
	</div>
	<div class="absolute bottom-0 left-0 w-full">
		<img src="{{directory}}/assets/public/images/wave.svg" alt="">
	</div>

</div>
